@import 'variabless';
.slider{
    padding-left: 298px;
    padding-top: 80px;
    @include bracpoint(lg){
      padding-left: 0;
    }
}
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    @include bracpointLarge(xxl){
        max-width: 1300px;
    }
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  } 
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  
  }
  .fade img{
      width: 500px;
    height: 500px;
    object-fit: cover;
  }
  @keyframes fade {
    0% {
      opacity: .4;
      transition: .5s;
    } 
    100% {
      opacity: 1;
      transition: .5s;
    }
  }